*{
box-sizing:border-box;
}
body,html{
    padding:0;
    margin:0;
    font-family:Pokemon Solid;
}
.container{
    display:flex;
    justify-content:space-between;
    width:1200px;
    margin:auto
}
header .main-header{
    background:#cb0900;
    padding:10px 0;
}
header .main-header .container>div{
    display:flex;
    justify-content:space-between;
    align-items:center
}
header .main-header .store-title{ 
    color:#fdcd01;
    font-size: 50px;
    text-shadow:5px 5px 3px #3100f8 
}
header .main-header .search{
    margin-left:15px;
}
header .main-header .search-input{
    position:relative;
}
header .main-header .search-input button{
    position:absolute;
    right:3px;
    top:3px
}
header .main-header .search-input input{
    padding:14px 30px 14px 15px;
    border:0;
    width:120px;
    border-radius:6px;
    transition:width .2s ease-in
}
header .main-header .search-input button{
    width:40px;
    height:40px;
    border:0;
    background:url("") no-repeat center center;
    cursor:pointer;
}
header .main-header .search-input input:focus{
    width:240px;
    outline:3px solid black;
}
header .main-header .links{
    text-transform:uppercase;
    font-weight:700;
    padding:0;
    margin:0;
    display:flex;
    align-items:center;
    list-style-type:none;
}
header .main-header .links li{
    margin-left:14px
;}
header .main-header .links a{
    color:white;
    text-decoration:none;
    transition:all ease .2s;
}
header .main-header .links a:hover{
    color:#fff;
}
header .secondary-header{
    background:#000;
    padding:15px 0;
}
header .secondary-header nav ul{
    display:flex;
    margin:0;padding:0;
    list-style-type:none;
}
header .secondary-header nav ul li{
    border-right:solid 1px #efefef;
}
header .secondary-header nav ul li:last-child{
    border-right:none;
}
header .secondary-header nav a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    padding:0 10px;
    text-transform:uppercase;
    transition: background .4s;
}
header .secondary-header nav ul li:first-child a{
    padding-left:0;
}
header .secondary-header nav a:hover{
    background-color:red
}
.social-links{
    display:flex;
    margin:0;
    padding:0;
    list-style:none;
}
.social-links a{
    font-size:20px;
    color:#fff;
    transition:all ease-in .2s;
}
.social-links a:hover{
    color:#ab47bc;
}
.social-links li{
    margin-left:10px;
}
/* @media screen and (max-width: 768px) */{
    .container{
        width:100%;
        padding:0 15px;
        display:block;
    }
header .main-header .links{
    margin-top:0;
    position:absolute;
    right:15px;
    top:25px;
}
header .main-header .container>div{
    display:block;
}
header .main-header .search{
    margin-left:0;
    margin-top:10px;
}
header .main-header .search-input input{
    width:100%;
}
header .main-header .search-input input:focus{
    width:100%;
}
header .secondary-header .container{
    width:auto;
    overflow-x:scroll;
    display:flex}
header .secondary-header nav{display:inline}
header .secondary-header nav ul li{white-space:nowrap}
}




aside .poke-ads{ 
    Font-family:'Pixel';
    display:block;
    height:250px;
    background-image:url("./mew.gif");
    background-size:cover;
    background-position:center center;
    position:relative;
}
 
aside .poke-ads::before{
    content:" ";
    width:100%;
    height:100%;
    opacity:.6;
    position:absolute;
    top:0;
    left:0;
}
aside .poke-ads>div{
    position:absolute;
    bottom:0;
    left:0;
    right: 10;
    color:black;
    text-align:center;
    padding:10px;
    width:100%;
}
aside .poke-ads .poke-ads-title{
    font-size:28px;
    font-weight:bold;
    margin:0; 
    Font-family:'Pixel';
}
aside .poke-ads .poke-ads-description{
    font-size:12px;
     Font-family:'Pixel';
    }
     


.newsletter{ 
    Font-family:'Pixel';
    margin-top:30px;
    padding:30px 10px;
    background:red; 
    border: 2px groove;
    border-radius: 5px;


}
.newsletter h4{
    text-transform:uppercase;
    font-weight:bold;
    margin-top:0;
    text-align:center;
}
.newsletter input{
    padding:10px;
    border:0;
    width:100%;
}
.newsletter button{
    border:0;
    padding:10px;
    width:100%;
    background:#000;
    color:#fff;
    margin-top:15px;
}
footer{
    padding-top:30px;
    background:#000;
}
footer .container{
    justify-content:space-between;
}
footer .footer-nav li
{margin-bottom:10px;
}
footer .footer-nav a{
    font-size:20px;
    color:#fff;
    text-decoration:none
}
footer .footer-nav a:hover{
    color:#ffde00;
}

footer .shinys{
    margin-top:0;
    color:#fff;
}
.shinys img{
    max-width:150px;
}
footer .shinys li:hover{
    color:#000;
    background:#fff;
}
.content-section{
    padding:30px 0;
}

.pokemon_lista .pokemon{
    max-width:100%;
}
.pokemon_lista .poke-buy{
    width:100%;
    border:0;
    padding:15px 5px;
    background:black;
    background-size:400% 400%;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    border-radius:8px;
    cursor:pointer;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
}

.pokemon_lista .poke-buy img{
    width:22px;
    margin-right:8px;
}
.pagination{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
}
.pagination button{
    font-family:Pixel;
    cursor:pointer;
    padding:10px 20px;
    border:0;
    font-size:20px;
}
@keyframes pokeBuyBtnAnimation{
    0%{background-position:0% 50%}50%
    {background-position:100% 50%}
100%{background-position:0% 50%}
}
.pokemon_lista .poke:hover .poke-buy-btn{
    animation:pokeBuyBtnAnimation 5s ease infinite
}
@media screen and (max-width: 1200px){
.container{
    width:100%
}
.pokemon_lista{
    width:65%;
    grid-template-columns:1fr 1fr 1fr
}

}

.pokemon_lista{
    background-color: white;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-content: center;
    

}

.pokemon img{
    max-width: 180px;

}

@font-face {
    font-family:'Pixel' ;
    src: url('./Fontes/PressStart2p.ttf');
}
.pokemon_lista button{
    cursor: pointer;
    font-family:'Pixel';  
    border-radius: 50px;
    width: 215px;
    height: 50px;
    border-color: black;
    background-color: black;
    font-size: 20px;
    color:white;
   transition: 3s;
}
.pokebola{
    width: 20px;
    height: 20px;
 
}



.pokemon{
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px 5px 5px 16px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
     max-width: 200px;
    align-items: center;
    position: relative
    

}
.pokemon p{
    Font-family:'Pixel';
    color: black;
    font-size: 12px;
}
 
/* display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: ...;
    height: ...; */

 
/*      border: 2px solid #cb0900;
    border-radius: 20px;
    margin: 10px 5px 5px 16px;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;

    display: flex;
    justify-content: center;
     max-width: 180px;
    align-items: center;
    position: relative;
 */

 section {
     display: block;
 }
.topPokemon h3{
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
    margin:0;
}
.topPokemon ol{
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.topPokemon li{
    counter-increment: li;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #eee;
    transition: all ease 0.3s;
    cursor:pointer
}
aside{
padding-left: 30px;
width: 25%;
position:absolute;
top:250px;
right:0;
z-index:500;



}
.topPokemon{
margin-top: 30px;
max-width: 50px;
Font-family:'Pixel';
font-size: 28px;
margin: 0;
font-weight: bold;

    
}
.oldvalue{
    font-size: 10px;
    text-decoration: line-through;
    opacity: 0.5;
}

.topPokemon img{
    max-width: 150px;
}